services:
  - type: web
    name: lina-salon-backend
    env: node
    region: frankfurt
    plan: free
    branch: main
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NODE_VERSION
        value: 18
